body {
    background-color: silver;
}

input{
	padding: 10px;
	height: 30px;
	margin: 10px;
	border-radius: 4px;
	background-color: #222222;
	color: #ffffff;
	border-color: #222222;
	display: flex;
}

table, th, td {
	border: 1px solid black;
	padding: 5px;
	text-align: justify;
	/* table-layout: auto !important; */
}

table{
	clear: both;
	/*display: flex;*/
	/*width: 47%;*/
}

.visibleTable{
	display: none;
}
button{
	float: left;
	height: 35px;
	width: 120px;
	padding: 5px;
	margin: 20px 10px;
	border-radius: 4px;
	color: #aab3b3;
	background-color: #2c1a5c;
}
